@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&subset=latin-ext&display=swap');

:root {
    --color-100: #e6e9fa;
    --color-200: #9fa7d6;
    --color-300: #5e70d6;
    --color-400: #3d488a;
    --color-500: #2241f7;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #fff;
}

.container-fluid {
    padding: 0;
}

.hero {
    padding: 50px 0;
    background-color: var(--color-400);
    color: #fff;
    text-align: center;
}

.hero h1 {
    margin-bottom: 1.5rem;
}

.hero p {
    color: var(--color-100);
    margin-bottom: 1rem;
}

.hero p:last-child {
    margin-top: 1.5rem;
    margin-bottom: 0;
}